# Inputs
*.zip
*.csv
!data/test-set.csv

# Node
node_modules/
web/node_modules/
web/dist/

# Python
__pycache__/
*.pyc
.venv/

# Outputs
output/*
!output/predictions.csv
*.log

# OS
.DS_Store

# IDEs
.vscode/